.btnDrinks {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 50px;
  top: 150px;

  background: #592d1d;
  border-radius: 10px;

  font-family: "Roboto", sans-serif;
  font-weight: "bold";
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
}

.bntCake {
  position: absolute;
  width: 200px;
  height: 100px;
  left: 300px;
  top: 150px;

  background: #592d1d;
  border-radius: 10px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;

  color: #ffffff;
}
