.ContainterMenu {
  display: flex;
}

.CupLogo,
.WaiterLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  color: #592d1d;
  padding-right: 6%;
}

.CupLogo > img {
  height: 7vw;
  padding-left: 8%;
}

.HeaderQueen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #ddd0cb;
  border-bottom: 4px solid #592d1d;
}

.WaiterLogo > img {
  width: 4.3vw;
  height: 4.7vw;
}

h2 {
  font-size: 20px;
}
