.OrderCheck {
  width: 384px;
  height: 450px;

  background: #c7a79b;
  border-radius: 5px;
  margin-bottom: 50px;
}

.checkBottom {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 100px;
}

.containerOrderCheck {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
